{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/winterfell.css">
{% endblock %}

{% block content %}
    <div class="container-fluid relative">
        <img src="/assets/images/city001.png" />

        <img src="/assets/images/eggs/003.png" class="egg egg01">
        <img src="/assets/images/eggs/004.png" class="egg egg02">
        <img src="/assets/images/eggs/007.png" class="egg egg03">
        <img src="/assets/images/eggs/003.png" class="egg egg04">
        <img src="/assets/images/eggs/004.png" class="egg egg05">

    </div>
    
{% endblock %}

