<h2 class="text-center pt-5">Chosis ton personnage</h2>
<div class="card-characters card-deck row justify-content-center pt-4">
    <div class="card col-2">
        <div class="cont-img">
            <img class="img-character img-circle card-img-top" src="/assets/images/arya.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">arya</h5>
        </div>
    </div>
    <div class="card col-2">
        <div class="cont-img">
            <img class="img-character img-circle card-img-top" src="/assets/images/samwell.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">samwell</h5>
        </div>
    </div>
    <div class="card col-2">
        <div class="cont-img">
            <img class="img-character img-circle card-img-top" src="/assets/images/cersei.png" alt="Card image cap">
        </div>
        <div class="card-body">
            <h5 class="card-title">cersei</h5>
        </div>
    </div>
</div>
<div class="text-center pb-5">
    <a href="map.html.twig" class="btn btn-secondary btn-lg" tabindex="-1" role="button" >Entrer
        dans le jeu</a>
</div>



