<footer>
    <div class="container-fluid">
        <div class="row pt-3 pb-3">
            <div class="col-md-4">
                <hr>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="text-center"><img src="/assets/images/epee-croisee.png" class="smallPic"> Eggs Of Thrones
                    <img src="/assets/images/epee-croisee.png" class="smallPic"></h2>
            </div>
            <div class="col-md-4">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <h2>Categories</h2>
                <ul>
                    <li><a href="/home/index#history" class="text-white">Histoire</a></li>
                    <li><a href="/page/map#cart" class="text-white">La carte</a></li>
                    <li><a href="#" class="text-white">Mes oeufs</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h2 class="text-center">Lieux</h2>
                <ul>
                    <li><a href="/home/kingslanding#PR">Port-Réal</a></li>
                    <li><a href="/page/ironIslands#IDR">Les Îles de fer</a></li>
                    <li><a href="/page/highgarden#IDR">Hautjardin</a></li>
                    <li><a href="/winterfell/index#WR">Winterfell</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-center">
                <h2 id="contact" class="text-center">Developpeurs</h2>
                <ul>
                    <li><a href="https://www.linkedin.com/in/emilie-s-691b5817/" class="text-white">Emilie SERRE</a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/julien-rousseau-b7b88868/" class="text-white">Julien
                            ROUSSEAU</a></li>
                    <li><a href="https://www.linkedin.com/in/shirley-bismuth-5362a4181/" class="text-white">Shirley
                            BISMUTH</a></li>
                    <li><a href="https://www.linkedin.com/in/yurniel-lahera-villa-a66880105/" class="text-white">Yurniel
                            LAHERA VILLA</a></li>
                    <li><a href="https://www.linkedin.com/in/dimitri-pasquier-2545a0119/" class="text-white">Dimitri
                            PASQUIER</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div class="text-center pt-3">
                <p class="justify-content-center littleEndPage"><a href="" class="text-white">Mentions
                        Legales</a> | <a href="" class="text-white">Politique de confidentialité</a></p>
            </div>
        </div>
    </div>
</footer>