<section>
    <div class=" historyBack">
        <div class="col">
            <h2 class="historyTitle">Regles du jeu</h2>
            <p class="history"> Les dragons sont revenus à Westeros et ont pondu !</p>
            <p class="history"> Choisi un personnage et part à la recherche des oeufs de ces formidables créatures.</p>
            <p class="history"> Cliques sur tous les oeufs que tu vois. Quand tu auras tout trouvé, une petite récompense te sera offerte !</p>
        </div>
    </div>
</section>
