{% extends 'layout.html.twig' %}

{% block navbar %}
    {% include 'Home/_navbar.html.twig' %}
{% endblock %}

{% block jumbotron %}
    {% include "Home/jumbotron.html.twig" %}
{% endblock %}

{% block histoire %}
    {% include 'Home/history.html.twig' %}
{% endblock %}

{% block characters %}
    {% include 'Item/_characters.html.twig' %}

{% endblock %}

{% block content %}

    <a href="#"><img class="easterEgg" src="{{ eggs[68]['image'] }}" alt="" /></a>
{% endblock %}
