
<div class="jumbotronEggs jumbotron jumbotron-fluid">
    <div class="title container-fluid">
        <h1 class="title1 display-4">EGGS OF THRONES</h1>
        <p class="title2 lead">PARTEZ A LA RECHERCHE DES OEUFS DE DRAGON !</p>
    </div>
</div>