
<div class="jumbotronEggs jumbotron jumbotron-fluid">
    <div class="titleJumbotron container-fluid">
        <h1 class="titleJumbotron1 display-4">EGGS OF THRONES</h1>
        <p class="titleJumbotron2 lead">PARTEZ A LA RECHERCHE DES OEUFS DE DRAGON !</p>
    </div>
</div>