{% extends 'layout.html.twig' %}

{% block images %}

<div class="container-fluid kingslanding">

    <img name="egg-007" class="egg egg-007" src="/assets/images/eggs/007.png" alt="">
    <img name="egg-014" class="egg egg-014" src="/assets/images/eggs/014.png" alt="">
    <img name="egg-015" class="egg egg-015" src="/assets/images/eggs/015.png" alt="">
    <img name="egg-017" class="egg egg-017" src="/assets/images/eggs/017.png" alt="">
    <img name="egg-018" class="egg egg-018" src="/assets/images/eggs/018.png" alt="">

    <img class="img-carte" alt="kings-landing" src="/assets/images/city003.png">
    <div class="img-counter">
        <p class="counter"></p>
        <img src="/assets/images/counter.png" alt="">
    </div>

</div>

{% endblock %}

