<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="../../public/assets/images/favicon.png">
{#    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>#}
{#    <script type="text/javascript" src="../../public/assets/js/script.js"></script>#}
    <title>{% block title %}{% endblock %}</title>
</head>
<header>
    {%  block navbar %}
    {% endblock %}
    {% block jumbotron %}
        {% include "Home/jumbotron.html.twig" %}
    {% endblock %}


</header>

<body>
{% block histoire %}{% endblock %}
{% block personnages %}{% endblock %}
{% block footer %} {% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>