@font-face {
    font-family: "GOT";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Game of Thrones.ttf");
}

@font-face {
    font-family: "steam GOT";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Steam GOTT.ttf");
}

section {
    padding-bottom: 3em;
    padding-top: 3em;
}

h2 {
    font-family: GOT;
    text-align: center;
    padding-bottom: 3vw;
}

.history {
    text-align: center;
    font-size: 2em;
    font-family: "steam GOT";
}

.historyBack {
    background-image: url("https://image.freepik.com/photos-gratuite/grunge-old-vintage-background-papier_1373-431.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 6em;
}

.jumbotronEggs{
    background-image: url("https://i.goopics.net/JoOZy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titleJumbotron{
    text-align: center;
    margin-top: 10vw;
}

.titleJumbotron1{
    font-size: 5vw;
    color: #ffffff;
    font-family: "GOT";
}

.titleJumbotron2{
    font-size: 1.5vw;
    color: #ffffff;
    font-family: "GOT";
}

.map{

    background-repeat: no-repeat;
    position : relative;
    height: 250vh;
    z-index: 2;
}

.city1{
    position: absolute;
    z-index: 1;
    left: 40vw;
    top: 45vw;
    color: darkred;
    text-shadow: 2px 2px #ffffff;
    font-size: 2vw;
    font-family: "GOT";
}

.city2{
    position: absolute;
    z-index: 1;
    left: 30vw;
    top: 22vw;
    color: darkred;
    text-shadow: 2px 2px #ffffff;
    font-size: 2vw;
    font-family: "GOT";
}

.city3{
    position: absolute;
    z-index: 1;
    left: 30vw;
    top: 53vw;
    color: darkred;
    text-shadow: 2px 2px #ffffff;
    font-size: 2vw;
    font-family: "GOT";
}

.city4{
    position: absolute;
    z-index: 1;
    left: 26vw;
    top: 17vw;
    color: darkred;
    text-shadow: 2px 2px #ffffff;
    font-size: 2vw;
    font-family: "GOT";
}
.city1:hover{
    color:#ffffff;
    text-decoration: none;
    text-shadow: 2px 2px darkred;
}

.city2:hover{
    color:#ffffff;
    text-decoration: none;
    text-shadow: 2px 2px darkred;
}

.city3:hover{
    color:#ffffff;
    text-decoration: none;
    text-shadow: 2px 2px darkred;
}

.city4:hover{
    color:#ffffff;
    text-decoration: none;
    text-shadow: 2px 2px darkred;
}