@font-face {
    font-family: "GOT";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Game of Thrones.ttf");
}

@font-face {
    font-family: "Mason";
    src: url("/assets/fonts/Mason Regular.ttf");
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/***History***/

section {
    padding-bottom: 3em;
    padding-top: 3em;
}

.historyTitle {
    font-family: GOT;
    text-align: center;
    padding-bottom: 3vw;
}

.history {
    text-align: center;
    font-size: 1.75em;
    font-family: Mason;
}

.historyBack {
    background-image: url("https://image.freepik.com/photos-gratuite/grunge-old-vintage-background-papier_1373-431.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 6em;
}

.jumbotron{
    background-image: url("https://i.goopics.net/JoOZy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title{
    text-align: center;
    margin-top: 10vw;
}

.title1{
    font-size: 5vw;
    color: #ffffff;
    font-family: "GOT";
}

.title2{
    font-size: 1.5vw;
    color: #ffffff;
    font-family: "GOT";
}

/***End of History***/

/***Card Characters***/

.card-characters.card-deck {
    background-color: rgba(199,199,199,.1);
}

.card-characters.card-deck .card {
    background-color: transparent;
}

.card-characters .card .card-body h5 {
    color: black;
    font-family: GOT;
    text-align: center;
    font-size: 1.25vw;
}

.card-characters .card {
    border: none;
}

.cont-img {
    border-radius: 50%;
    background-color: #4b3115;
}

.cont-img .card-img-top {
    border-radius: 50%;
    padding: 3%;
    border: 5px solid #c8bea1;
    box-shadow: 5px 5px 10px gray;
}

.cont-img:hover {
    transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    transform-origin: center;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    transition: transform 1.0s ease ;
    -moz-transition: -moz-transform 1.0s ease ;
    -webkit-transition: -webkit-transform 1.0s ease;
}

/***End of Card Characters***/

/***Button Up***/

.buttonUp {
    display: none;
    padding: 20px;
    background: #4b3115;
    cursor: pointer;
    position: fixed;
    font-size: 30px;
    bottom: 2%;
    right: 1%;
    color: #c8bea1;
    border-radius: 50%;
    z-index: 1000;
    border: 5px solid #c8bea1;
    box-shadow: 5px 5px 10px gray;
}


/***End of Button Up***/

/***Navbar***/

.sword {
    max-height: 30px;
}
.nav-link:hover {
    color: gray;
}
.nav-link {
    font-family:"GOT" ;
    font-size: 1.2em ;
}
.colorme {
    color: darkgray;
}

.navbar-brand{
    font-family: "GOT";
    font-size: 2em;
}

.navbar-brand:hover {
    color: darkgray;
}
.xs:hover {
    transform : scale(1.2);
    transition: 0.5s ease;
}
.imgfox {
    max-height: 100px;
}

/***End of Navbar***/

/***Kingslanding***/

img.img-carte {
    background: center no-repeat;
    width: 100%;
}

/***End of Kingslanding***/
