@font-face {
    font-family: "GOT";
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/Game of Thrones.ttf");
}

section {
    padding-bottom: 3em;
    padding-top: 3em;
}

h2 {
    font-family: GOT;
    text-align: center;
    padding-bottom: 3vw;
}

.history {
    text-align: center;
    font-size: 2em;
}

.historyBack {
    background-image: url("https://image.freepik.com/photos-gratuite/grunge-old-vintage-background-papier_1373-431.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 6em;
    padding-bottom: 6em;

.jumbotron{
    background-image: url("https://i.goopics.net/JoOZy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titleJumbotron{
    text-align: center;
    margin-top: 10vw;
}

.titleJumbotron1{
    font-size: 5vw;
    color: #ffffff;
    font-family: "GOT";
}

.titleJumbotron2{
    font-size: 1.5vw;
    color: #ffffff;
    font-family: "GOT";
}
