{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/highgarden.css">
{% endblock %}

{% block content %}
    <div class="container-fluid relative">

        <img src="/assets/images/city002.png">
        <img src="/assets/images/eggs/002.png" class="egg egg06">
        <img src="/assets/images/eggs/005.png" class="egg egg07">
        <img src="/assets/images/eggs/013.png" class="egg egg08">
        <img src="/assets/images/eggs/013.png" class="egg egg09">
        <img src="/assets/images/eggs/016.png" class="egg egg10">

    </div>
    <div class="img-counter">
        <p class="counter"></p>
        <img src="/assets/images/counter.png" alt="">
    </div>

{% endblock %}



