{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/ironIslands.css">
{% endblock %}

{% block content %}
    <div class="container-fluid relative">

        <img src="/assets/images/city004.png">
        <img src="/assets/images/eggs/002.png" class="egg egg11">
        <img src="/assets/images/eggs/004.png" class="egg egg12">
        <img src="/assets/images/eggs/006.png" class="egg egg13">
        <img src="/assets/images/eggs/010.png" class="egg egg14">
        <img src="/assets/images/eggs/014.png" class="egg egg15">

    </div>
    <div class="img-counter">
        <p class="counter"></p>
        <img src="/assets/images/counter.png" alt="">
    </div>

{% endblock %}



