{% extends 'layout.html.twig' %}


{% block content %}

    <div class="map jumbotron">
        <div class="container">
            <img src="/assets/images/carte3.jpg" alt="carte de westeros" />
            <a class="city1" href="#">PORT-REAL</a>
            <a class="city2" href="#">WINTERFEL</a>
            <a class="city3" href="#">HAUTJARDIN</a>
            <a class="city4" href="#">ILES DE FER</a>
        </div>
    </div>

{% endblock %}