{% extends 'layout.html.twig' %}


{% block content %}

    <div class="map jumbotron">
        <div class="container">
            <img src="/assets/images/carte3.jpg" id="cart"alt="carte de westeros" />
            <a class="city1" id="PR" href="/home/kingslanding">PORT-REAL</a>
            <a class="city2" id="WF" href="/winterfell/index">WINTERFEL</a>
            <a class="city3" id="HJ" href="/page/highgarden">HAUTJARDIN</a>
            <a class="city4" id="IDF" href="/page/ironIslands">ILES DE FER</a>
        </div>
    </div>

{% endblock %}