{% extends 'layout.html.twig' %}

{% block content %}
<div class="canvas-wrap">
    <canvas id="canvas"></canvas>
    <a href="/Home/index"><button type="button" class="redirection btn btn-secondary btn-lg ">Revenir à la page d'accueil</button></a>
</div>
{% endblock %}